<h5 class="fw-bold mb-3 px-2">Suivi des commandes clients</h5>
<p *ngIf="Orders.length === 0"> Aucune commande reçue pour ce magasin. </p>
<table cTable [hover]="true" align="middle" class="border m-0 text-nowrap" *ngIf="Orders.length > 0">
    <thead class="bg-light">
    <tr>
        <th>Reference</th>
        <th>Client</th>
        <th>Article</th>
        <th>Date</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Total</th>
        <th>Statut</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cmd of Orders; trackBy: trackById">
        <td><strong>#{{cmd.reference}}</strong></td>
        <td>{{cmd.user_id.first_name}} {{cmd.user_id.last_name}}</td>
        <td><strong>{{cmd.product_id.name}}</strong><br><small class="text-muted">Référence {{cmd.product_id.code}}</small></td>        <td>{{cmd.createdAt | date}}</td>
        <td>{{cmd.unit_price | number}} Ar</td>
        <td>{{cmd.quantity}}</td>
        <td><span class="fw-bold">{{cmd.unit_price * cmd.quantity | number}}</span></td>
        <td>
        <c-badge 
            [color]="cmd.state === 1 ? 'warning' :
                    cmd.state === 0 ? 'danger' : 
                    cmd.state === 5 ? 'info' : 
                    cmd.state === 10 ? 'primary' : 
                    cmd.state === 15 ? 'secondary' : 
                    cmd.state === 20 ? 'success' : 'dark'" 
            shape="rounded-pill">
            
            {{ cmd.state === 1 ? 'En attente de paiement' :
            cmd.state === 0 ? 'Annuler' : 
            cmd.state === 5 ? 'Paiement validé' : 
            cmd.state === 10 ? 'En cours de préparation' : 
            cmd.state === 15 ? 'Colis en cours de livraison' : 
            cmd.state === 20 ? 'Livré' : 'Inconnu' }}
        </c-badge>
        </td>        
        <td class="text-center" *ngIf="cmd.state > 1 && cmd.state < 20">
            <c-dropdown
                color="dark" 
                size="sm" 
            >
            <button cButton cDropdownToggle color="secondary">
                <svg cIcon name="cilPencil" class="me-1"></svg> 
                    Gérer
                </button>
                <ul cDropdownMenu>
                    <li (click)="UpdateToNextStep(cmd.state, cmd._id)"><a cDropdownItem>Passer à l'étape suivante</a></li>
                    <li (click)="AbortOrder(cmd._id)"><a cDropdownItem>Annuler la commande</a></li>
                </ul>
            </c-dropdown>
        </td>
    </tr>
    </tbody>
</table>