<div class="container-xxl py-4 overflow-y-auto shadow-sm bg-light" style="height: calc(100vh - 200px); scrollbar-width: thin;" *ngIf="shopProfile">
  <div class="vh-100 d-flex justify-content-center align-items-center" *ngIf="isLoading">
   <div class="spinner-border text-primary"></div>
</div>
  <c-row class="g-4">
    <c-col lg="4">
      <c-card class="h-100 border-0 shadow-sm text-center">
        <c-card-body class="d-flex flex-column align-items-center justify-content-center p-4">
          <h4 class="fw-bold text-dark mb-2">{{ shopProfile.name || 'Chargement...' }}</h4>
          
          <c-avatar [src]="shopProfile.logoUrl || 'https://via.placeholder.com/150'" size="xl" class="mb-3 border border-3 border-primary shadow-sm"></c-avatar>
          
          <p class="text-muted fst-italic mb-3">"{{ shopProfile.description || 'Aucune description' }}"</p>
        </c-card-body>
      </c-card>
    </c-col>
  
    <c-col lg="8">
      <c-card class="h-100 border-0 shadow-sm">
        <c-card-header class="bg-primary text-white fw-bold p-3">
          Informations de la boutique
        </c-card-header>
        <c-card-body class="p-4">
          <form cForm class="row g-3">
            <c-col md="6">
              <label cLabel for="ownerName">Nom du propriétaire</label>
              <input cFormControl id="ownerName" type="text" [(ngModel)]="shopProfile.proprioName" name="proprioName" />
            </c-col>
            <c-col md="6">
              <label cLabel for="nifStat">NIF / STAT</label>
              <input cFormControl id="nifStat" type="text" [(ngModel)]="shopProfile.fiscal_number" name="fiscal_number" />
            </c-col>
            <c-col md="6">
              <label cLabel for="contact">Contact</label>
              <input cFormControl id="contact" type="tel" [(ngModel)]="shopProfile.contact" name="contact" />
            </c-col>
            <c-col md="6">
              <label cLabel for="address">Adresse</label>
              <input cFormControl id="address" type="text" [(ngModel)]="shopProfile.address" name="address" />
            </c-col>
            <c-col xs="12">
              <label cLabel for="email">Email</label>
              <input cFormControl id="email" type="email" [(ngModel)]="shopProfile.email" name="email" />
            </c-col>
          </form>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>

  <c-tabs [activeItemKey]="'products'" class="mt-4">
    <c-tabs-list variant="tabs">
      <button cTab itemKey="products"> <svg cIcon name="cilBasket" class="me-2"></svg> Mes Produits</button>
      <button cTab itemKey="commandes"><svg cIcon name="cilTruck" class="me-2"></svg> Mes Commandes</button>
      <button cTab itemKey="stocks"><svg cIcon name="cilStorage" class="me-2"></svg> Mes Stocks</button>
    </c-tabs-list>
    
    <c-tabs-content class="border border-top-0 rounded-bottom bg-white mb-4 shadow-sm">
      
      <c-tab-panel class="p-3" itemKey="products">
        <app-shop-product></app-shop-product>
      </c-tab-panel>

      <c-tab-panel class="p-3" itemKey="commandes">
        <app-shop-order></app-shop-order>
      </c-tab-panel>

      <c-tab-panel class="p-3" itemKey="stocks">
        <app-stock-managment></app-stock-managment>
      </c-tab-panel>

    </c-tabs-content>
  </c-tabs>
</div>

<!-- Modals confirming to stop subscription (Start) -->
<c-modal #stopSubscriptionModal backdrop="static" id="stopSubscriptionModal">
  <c-modal-header>
    <h5 cModalTitle>Confirmation d'arrêt d'abonnement</h5>
    <button [cModalToggle]="stopSubscriptionModal.id" cButtonClose></button>
  </c-modal-header>
  
  <c-modal-body>
    Voulez-vous arrêter l'abonnement de la boutique <strong> Tech Shop </strong> ?
  </c-modal-body>
  
  <c-modal-footer>
    <button [cModalToggle]="stopSubscriptionModal.id" cButton color="secondary">
      Annuler
    </button>
    <button cButton color="primary">
      Confirmer
    </button>
  </c-modal-footer>
</c-modal>
<!-- Modals confirming to stop subscription (End) -->