<div class="auth-wrapper d-flex align-items-center justify-content-center min-vh-100">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8" lg="6" xl="5">
        
        <div class="text-center mb-4">
          <h2 class="fw-bold text-dark">M1P13mean-Fy-Chalman</h2>
        </div>

        <c-card class="auth-card border-0 shadow-lg mx-3">
          <c-card-body class="p-4 p-sm-5">
            <div class="mb-4">
              <h3 class="fw-bold mb-1 text-center">Connexion</h3>
              <p class="text-muted small text-center">Entrez vos identifiants pour accéder à votre espace</p>
            </div>

            <form [formGroup]="form" (ngSubmit)="login()" cForm>
              <div class="mb-3">
                <label class="form-label-custom" for="email">Adresse Email ou username</label>
                <c-input-group class="custom-input-group">
                  <span cInputGroupText class="bg-white border-end-0">
                    <svg cIcon name="cilEnvelopeOpen" size="sm"></svg> </span>
                  <input   
                    type="text"
                    formControlName="identifier"
                    class="form-control mb-3"
                    cFormControl     
                    placeholder="Email ou username"
                    id="email"
                    autocomplete="username"
                    class="border-start-0 ps-0"
                  />
                </c-input-group>
              </div>

              <div class="mb-3">
                <div class="d-flex justify-content-between align-items-center mb-1">
                  <label class="form-label-custom mb-0" for="password">Mot de passe</label>
                </div>
                <c-input-group class="custom-input-group">
                  <span cInputGroupText class="bg-white border-end-0">
                    <svg cIcon name="cilLockLocked" size="sm"></svg>
                  </span>
                  <input 
                    autoComplete="current-password" 
                    cFormControl type="password" 
                    id="password" 
                    class="border-start-0 ps-0" 
                    placeholder="Entrer votre mot de passe"
                    formControlName="password"  
                  />
                </c-input-group>
              </div>

              <button cButton class="btn-login w-100 py-2 fw-bold" color="primary" type="submit" [disabled]="loading">
                {{ loading ? 'Connexion...' : 'Se connecter' }}
              </button>

              <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                {{ errorMessage }}
              </div>

              <div class="text-center mt-5">
                <span class="text-muted small">Vous n'avez pas de compte ?</span>
                <div class="mt-2 d-flex flex-column gap-2">
                  <a [routerLink]="['/register']" class="text-primary fw-semibold text-decoration-none small border py-1 rounded-pill border-primary-subtle">
                    S'inscrire comme Utilisateur
                  </a>
                </div>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>